@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .parent.opacity-change .child-to-change-opacity {
    @apply opacity-100;
  }
  .trun{
    text-overflow: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 160px;
    white-space: nowrap;
  }
}

